*{
    margin: 0;
    padding: 0;
    
}

body
{
  font-family: sans-serif;
  text-align: center;
  background:linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  
}

.wrapper
{
    width: 90%;
    margin:0 auto;
  
  }

header
{
  width: 100%;
  height: 100px;
  background: #16191E;
  position: fixed;
  
}

.logo
{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px/*this helps postion the hight of a line drop or pick up a line*/
    }

 .logo a 
 {
   text-decoration: none;
   font-size: 30px;
   font-family:'Noto Serif TC', serif;
   color: beige;
   letter-spacing: 4px; 
   }
 /*for the yellow color change in the header and footer.*/ 
   .logo span, footer span
   {
    color:#FDBB2D;
   }
 
 nav 
 {
  float: right;
  line-height: 100px;
 }

 nav a
 {
  text-decoration: none;
  font-family: "Noto Serif TC', serif";
  font-size: 20px;
  color:beige;
  padding: 15px 10px;
  margin: 0 1px;
  
 }

 nav a:hover
 {
  background-color: white;
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  font-weight: bolder;
  border-radius: 20%;
 
}

 .banner-area{
    background: #16191E;
    background-size: cover;
    background-position: center center;
    top: 150px;
    height: 100vh;
    width: 100%;
    position: fixed;

  }
.img{

  margin-left: 65%;
  background-color: #fff;
  padding-bottom: 70%;
  
}
  /*creating an overlay for the hero image
  .banner-area::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:#16191E;
    opacity: .7;
    z-index: -1;
}*/
  

.banner-area h2
{
  padding-top: 8%;
  padding-right: 40%;
  margin-left:50px ;
  font-size: 80px;
 }

.content-area
{
  width: 100%;
  height: 900px;
  position: relative;
  background-color: aliceblue;
  top: 600px;
}

.content-area h2
{
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  letter-spacing: 3px;
}

.content-area p
{
  padding: 2% 0;
  line-height: 30px;
  text-align: justify;
}

footer{background: #16191E;
  margin: 10%;  
}

 footer h2 {
  color: white;
  
 }     

 .Twitter, .LinkedIn, .Insta{
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #ffff;
  border: 1px solid #fff;
  border-radius: 50%;
  /* for a smooth up and down hover movement*/
  transition-duration: 0.3s


}

 .social-icons :hover
 {
  background-color: white;
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  font-weight: bolder;
  border-radius: 50%;
  /* for the icons to move up when hovered over*/
  transform: translateY(-15px) ;
  cursor: pointer;
}

fieldset
{  
   background: #3A1C71;
   border: #16191E;
   margin: 10%;
    
}

form input, form textarea, form select
{ display: flexbox;
  border: none;
  margin: 5px 0;
  padding: 10px;
  outline: none;
  border-radius: 40px;
}

form button
{  
    padding: 10px 20px;
    margin: 10px;
    border: 0;
    outline: none;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    color: #ffff;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  }
 
  /*Trying to create typewriter effect */
  
  .change-tx
  {
    display: inline-flex;
  
  }

 .change-tx .static-txt{
        color: #3A1C71;
        font-size: 60px;
        font-weight: 400;
        position: relative;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
       
    }

    .change-tx .dynamic-txts{
      margin-left: 5px;
      padding-right: 50px;
      line-height: 90px;
      height: 90px;
      overflow: hidden; /* hides the other words so one word can show at a time*/
     
  }
  .dynamic-txts li{
    
    color:  #FDBB2D;
    font-family:'Caveat', cursive;
    font-size: 70px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 4s steps(4) infinite;/*slide makes the words flash, no steps would make it go up smoothly*/
}
@keyframes slide {

    100%{
         top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

 
