*{
    margin: 0;
    padding: 0;
    
}

body
{
  font-family: sans-serif;
  text-align: center;
  background:linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  
}

.wrapper
{
    width: 90%;
    margin:0 auto;
  
  }

header
{
  width: 100%;
  height: 100px;
  background: #16191E;
  position: fixed;
  
}

.logo /*My name and Resume*/
{    
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px/*this helps position the hight of a line drop or pick up a line*/
    }
    

 .logo a 
 {
   text-decoration: none;
   font-size: 30px;
   font-family: 'Source Code Pro', monospace;
   color: beige;
   width: 80px;
   }
   
 /*for the yellow color change in the header and footer.*/ 
 .logo span
 {
  color:#FDBB2D;
 }

 nav 
 {
  float: right;
  line-height: 100px;
 }

 nav a
 {
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  letter-spacing: 4px;
  color:beige;
  padding: 15px 10px;
  margin: 0 1px;
  
 }

 nav a:hover
 {
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  border-radius: 20px;
 
}

 .banner-area{
    display: flex;
    flex-direction: row;
    background: #ffff;
    background-size: cover;
    background-position: center center;
    top: 150px;
    height: 100vh;
    width: 100%;
    position: fixed;

  }

.animation-side
{
  display: block;
  background: #16191E;
  width:100%;

}

.picture-side
{
  
  background: #16191E;
  width: 50%;
  
}
  /*creating an overlay for the hero image
  .banner-area::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:#16191E;
    opacity: .7;
    z-index: -1;
}*/
  

.banner-area h2
{
  padding-top: 8%;
  padding-right: 40%;
  margin-left:50px ;
  font-size: 80px;
 }

.content-area
{
 
  width: 100%;
  height: 2000px;
  position: relative;
  background: #16191E;
  /*background-color: aliceblue;*/
  top: 600px;
}

.content-area h2

{ 
  font-family: 'Source Code Pro', monospace;
  font-size: 45px;
  background: #3A1C71;
  padding: 20px;
  margin: 0 250px 0 250px;
  border-radius: 40px;
  
}
 .content-area h3 
 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  padding: 25px ;
  color: green;
 }

.content-area p
{ font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 2% 0;
  line-height: 30px;
  text-align: justify;
  color: antiquewhite;
}

.content-area li
{ 
  margin: 5px;
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;

}

.footer{
  background: #16191E;
  margin: 5%;  
}
   

 .Twitter, .LinkedIn, .Insta, .Github{
  margin:  30px; /*Spacing in-between logos*/
  display: inline-block;
  padding: 20px 20px;
  color: #ffff;
  border: 1px solid #FDBB2D;
  border-radius: 50%;
  /* for a smooth up and down hover movement*/
  transition-duration: 0.3s


}

 .social-icons :hover
 {
  background-color: white;
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  font-weight: bolder;
  border-radius: 50%;
  /* for the icons to move up when hovered over*/
  transform: translateY(-15px) ;
  cursor: pointer;
}

fieldset
{  font-family:'Source Code Pro', monospace;
   border: #16191E;
   margin: 10%; /*space between social icons and 'get in touch*/
   padding-left: 30%; /*helped center the contact bars in a straight row down*/
   padding-top: 10px; 
     
}

fieldset h1 
{   
    font-size: 30px;
    color: beige;
    padding-right: 65%;
}
form input, form textarea, form select

{ 
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  outline: none; /*shows social media*/
  border-radius: 40px;
}

form button
{   
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    margin: 10px;
    border: 0;
    width: 120px;
    border-radius: 20px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    letter-spacing: 4px;
    color: beige;
    background: #16191E;
  }

  form button:hover
  {
   background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
   border-radius: 20px;
   }
 
  /*Trying to create typewriter effect */
  
  .change-tx
  {
    display: inline-flex;

  }

 .change-tx .static-txt{
       
        color: #3A1C71;
        font-size: 60px;
        background: #16191E;
        font-family:'Source Code Pro', monospace;
    }

    .change-tx .dynamic-txts{
      
      margin-left: 5px;
      padding-right: 50px;
      line-height: 90px;
      height: 90px;
      overflow: hidden; /* hides the other words so one word can show at a time*/
     
  }
  .dynamic-txts li{
    
    color:  #FDBB2D;
    font-family:'Caveat', cursive;
    font-size: 70px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 4s steps(4) infinite;/*slide makes the words flash, no steps would make it go up smoothly*/
}
@keyframes slide {

    100%{
         top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

 
