html 
{
  scroll-behavior: smooth; /*for better scrolling*/
  scroll-padding-top: 100px;
  scroll-padding-bottom: 75px;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  text-align: center;
  background: #16191e;
}
/*===================Section with the navbar, animation and image==================================*/
.wrapper 
{
  width: 90%;
  margin: 0 auto;
  padding-inline: 1rem;
}

header /*My name and navbar*/ 
{
  width: 100%;
  height: 100px;
  background: #16191e;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo
{
  /*Keo Magano's resume*/
  width: 30%;
  float: left;
  text-align: left;
  line-height: 100px; /*this helps position the hight of a line drop or pick up a line*/
}

.logo a 
{
  /*Links back to hero image*/
  text-decoration: none;
  font-size: 30px;
  font-family: "Source Code Pro", monospace;
  color: beige;
  width: 80px;
}

/*for the yellow color  in the header and footer.*/
.logo span 
{
  color: #fdbb2d;
}

nav 
{
  float: right;
  line-height: 100px;
  
}

nav a 
{
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-size: 30px;
  letter-spacing: 4px;
  color: beige;
  padding: 15px 10px;
  margin: 0 1px;
}

nav a:hover 
{
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  border-radius: 20px;
}

.banner-area 
{
  /*landing page with hero image and menu tab*/
  display: flex;
  flex-direction: column;
  position: sticky;
  background-position: center;
  background-image: url(https://scontent-jnb1-1.xx.fbcdn.net/v/t1.6435-9/117765357_10216368392796540_8435720191695627714_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=3ME-tqinkfQAX90XplQ&_nc_ht=scontent-jnb1-1.xx&oh=00_AfAqezkJoRfwNREuQD2bcuM-L0tGOAQgAAwkKK03i2m3YA&oe=64366AFD);
  background-size: cover;
  height: 100vh;
}

.menu 
{
  margin-top: 5%;
}

.menu a 
{
  /*Menu link that leads to the body*/
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 4px;
  color: beige;
  padding: 15px 10px;
  background: #3a1c71;
}

.menu a:hover 
{
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  border-radius: 20px;
}

.static-txt
{
  color: #3a1c71;
  font-family: "Source Code Pro", monospace;
  font-size: 60px;
  background: orangered;
  margin-top: 15%;
  margin-right: 45%;
}

.animation-text 
{
  height: 90px;
  overflow: hidden; /* hides the other words so one word can show at a time*/
  background: #3a1c71;
  margin-top: 5%;
  margin-left: 45%;
}

.animation-text li 
{
  color: #fdbb2d;
  font-family: "Caveat", cursive;
  font-size: 70px;
  font-weight: 400;
  position: relative;
  top: 0;
  animation: slide 4s steps(4) infinite; /*slide makes the words flash, no steps would make it go up smoothly*/
}

@keyframes slide 

{
  100% {
    /*helps the animation move upwards */
    top: -360px;
  }
}

/*==================================Section with the Skills, education and experience==============================================*/

.content-area 
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1350px;
  margin-bottom: 20%;
  position: relative;
  background: #16191e;
  top: 100px;
}

.content-area h2 
{
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  background: #3a1c71;
  padding: 20px 30px 20px 10px;
  margin: 0 25px 0 25px;
  border-radius: 20px;
}

.content-area h3
 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  color: green;
  padding: 25px;
}

.content-area h4 
{
  font-family: cursive;
  font-size: 20px;
  color: bisque;
}

.content-area a 
{
  color: #fdbb2d;
  cursor: pointer;
  text-decoration: none;
}

.content-area li
{
  margin: 5px;
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  margin: 1%;
}

/*=============================================Section with all contact details and form==============================================================*/
footer
{
  margin-top: 5%;
  align-items: flex-end;
}

footer h2
{
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  background: #3a1c71;
  padding: 20px 5px 20px 5px;
  margin: 0 6% 0 6%;
  border-radius: 20px;
}

.footer .gmail, .location, .call /*-------made additional classes in order to control css*/ 
{
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  color: antiquewhite;
}

#Contact span 
{
  color: #fdbb2d;
}

.Twitter,
.LinkedIn,
.Insta,
.Github,
.map,
.email,
.number 
{
  margin: 30px; /*Spacing in-between logos*/
  display: inline-block;
  padding: 20px 20px;
  color: #ffff;
  border: 1px solid #fdbb2d;
  border-radius: 50%;
}

.social-icons :hover 
{
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  font-weight: bolder;
  border-radius: 50%;
  /* for the icons to move up when hovered over*/
  transform: translateY(-15px);
  cursor: pointer;
}

.email:hover 
{
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  font-weight: bolder;
  border-radius: 50%;
  transform: translateY(-15px);
  cursor: pointer;
}

.map:hover 
{
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  font-weight: bolder;
  border-radius: 50%;
  transform: translateY(-15px);
  cursor: pointer;
}

.number 
{
  color: bisque;
  font-size: 30px;
  font-family: cursive;
}

.grid 
{
  /*Three columns Grid in the orange section*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3%;
  padding: 2%;
  place-items: left;
  background: orangered;
}

.grid h2
{
  background: olive;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  padding: 10px;
}

.grid p
{
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 2% 0;
  line-height: 30px;
  text-align: center;
  color: antiquewhite;
}
/*Form CSS*/
fieldset
{
  border: #16191e;
}

form input,
form textarea,
form select
{
  display: flex;
  border: none;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 40px;
}

form button
{
  display: flex;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  border: 0;
  font-family: "Caveat", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  color: beige;
  background: orangered;
  cursor: pointer;
}

form button:hover
{
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  border-radius: 20px;
}
/*Image CSS*/
img
{
  padding-left: 40%;
  border-radius: 50%;
  transition: border-radius 500ms ease-in-out;
  background: #fdbb2d;
}

img:hover 
{
  border-radius: 0% 100% 0% 100% / 57% 52% 48% 43%; /* used fancy radius generator*/
}

/*===========================@MEDIA  STARTS HERE (TABLET, MID AND MIN SCREENS==============================*/


/*==========Tablet Sizes========*/
@media screen and (max-width: 768px) 
{
  .content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
    margin-bottom: 20%;
    position: relative;
    background: #16191e;
    top: 100px;
  }
  .grid
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: orangered;
  }

  .logo 
  {
    display: flex;
    width: 20%;
    float: left;
    text-align: left;
    line-height: 30px; /*this helps position the hight of a line drop or pick up a line*/
  }

  .logo a 
  {
    text-decoration: none;
    font-size: 30px;
    font-family: "Source Code Pro", monospace;
    color: beige;
    width: 80px;
  }

  nav 
  {
    float: right;
    line-height: 100px;
  }

  nav a
  {
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-size: 25px;
    color: beige;
    margin: 0%;
    padding: 0%;
  }

  .menu 
  {
    margin-top: 8%;
  }

  .menu a
  {
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-size: 30px;
    letter-spacing: 4px;
    color: beige;
    padding: 3px 3px;
    background: #3a1c71;
  }

  .static-txt
  {
    color: #3a1c71;
    font-family: "Source Code Pro", monospace;
    font-size: 35px;
    background: orangered;
    padding: 3%;
    margin-top: 30%;
    margin-right: 0%; /*Keeps words in a horizontal line*/
  }
}

/*==========LARGE========*/

@media screen and (max-width: 428px)

{
  .content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2050px;
    margin-bottom: 20%;
    position: relative;
    background: #16191e;
    top: 100px;
  }

  .footer .gmail, .location, .call /*-------made additional classes in order to control css*/
  {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    align-items: center;
    line-height: 30px;
    color: antiquewhite;
    margin-left: 30%;
  }

  .grid 
  {
    display: flex;
    background: orangered;
  }

  .grid h2
  {
    background: olive;
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    padding: 2%;
  }

  .logo
  {
    width: 20%;
    float: left;
    text-align: left;
    line-height: 50px; /*this helps position the hight of a line drop or pick up a line*/
  }

  .logo a
  {
    display: flex;
    text-decoration: none;
    font-size: 30px;
    font-family: "Source Code Pro", monospace;
    color: beige;
    width: 80px;
  }

  nav
  {
    display: flex;
    flex-direction: row;
    line-height: 30px;
    padding-right: 5%;
  }

  nav a
  {
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-size: 21px;
    letter-spacing: 3px;
    color: beige;
    margin-right: 2%;
    padding-right: 0%;
  }

  nav a:hover 
  {
    background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
    border-radius: 10px;
  }

  .menu 
  {
    margin-top: 10%;
  }

  .menu a
  {
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-size: 20px;
    letter-spacing: 4px;
    color: beige;
    padding: 15px 20px;
    background: #3a1c71;
  }

  .menu a:hover
  {
    background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
    border-radius: 20px;
  }

  .static-txt
  {
    color: #3a1c71;
    font-family: "Source Code Pro", monospace;
    font-size: 35px;
    background: orangered;
    margin-top: 80%;
    margin-right: 0%; /*Keeps words in a horizontal line*/
    padding: 14px;
  }

  .animation-text
  {
    height: 90px;
    overflow: hidden;
    background: #3a1c71;
    margin-top: 10%;
    margin-left: 0%;
  }

  .animation-text li
  {
    color: #fdbb2d;
    font-family: "Caveat", cursive;
    font-size: 70px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 4s steps(4) infinite;
  }

  img 
  {
    padding-left: 5%;
    transition: border-radius 500ms ease-in-out;
  }

  img:hover
  {
    border-radius: 0% 100% 0% 100% / 57% 52% 48% 43%;
  }

  .number
  {
    color: bisque;
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 5%;
  }
}

/*==========MOBILE S 320PX========*/

@media screen and (max-width: 320px)
 {
  .content-area 
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2450px;
    margin-bottom: 20%;
    position: relative;
    background: #16191e;
    top: 80px;
  }

  .footer .gmail, .location, .call /*-------made additional classes in order to control css*/ 
  {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    align-items: center;
    line-height: 30px;
    color: antiquewhite;
    margin-left: 25%;
  }

  .animation-text 
  {
    height: 90px;
    overflow: hidden; /* hides the other words so one word can show at a time*/
    background: #3a1c71;
    margin-top: 10%;
  }
  nav a {
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-size: 16px;
    color: #16191e;
    background-color: #fdbb2d;
  }

  .logo a
  {
    display: flex;
    text-decoration: none;
    font-size: 28px;
    font-family: "Source Code Pro", monospace;
    color: beige;
    width: 80px;
  }
}