
    * {
        margin: 0;
        padding: 0;
      }
      
      body {
        text-align: center;
        background: #16191e;
      }

      .container
      { display: row;
        grid-template-rows: 100px 100px 100px;
        grid-gap: 50px;
        font-family: cursive;
        color: bisque;
      }