body {
  display: block;
  background:linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  text-align: center;
  width: 1500px;
  height: 1500px;
}

h1,
p,
.icon {
  display: inline-table;
  width: 30px;
  font-size: 50px;
  color: aqua;
}
