* {
    margin: 0;
    padding: 0;
  }

body{

    background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
}   


h1
    
{   
    font-family: 'Gloria Hallelujah';
    color: beige;
    margin-top:5%;
    margin-left: 50%;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
 
    
}
@keyframes slideInLeft{
    
    from{ 
        transform: translateX(-800px);
    }

    to {
        transform: translateX(0px);
    }

}



p{  font-family: cursive;
    font-size: x-large;
    color: bisque;
    margin-left: 35%;
    margin-top: 5%;
    animation-name: slideInRight;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.Video

{
    margin-left: 35%;
}




