body {
  display: block;
  background:linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  text-align: center;
  width: 1500px;
  height: 1500px;
}

h1,
p,
.icon {
  display: inline-table;
  width: 30px;
  font-size: 50px;
  color: aqua;
}
----------------------------------------------------------------------------------------



/*==========mid and large screens========*/

@media screen and (max-width:425px)
{
 .grid {
   display: grid;
   grid-template-columns: 300px;
   grid-column-gap: 40px;
   align-items: right;
   padding-left: 60px;
   background: orangered;

 }
 .grid h2 {
   background: olive;
   font-family: "Source Code Pro", monospace;
   font-size: 20px;
   padding: 2%;
 }

 .logo {
   display: flex;
   width: 20%;
   float: left;
   text-align: left;
   line-height: 20px; /*this helps position the hight of a line drop or pick up a line*/
 }
 .logo a {
   text-decoration: none;
   font-size: 20px;
   font-family: "Source Code Pro", monospace;
   color: beige;
   width: 80px;
 }

 nav {
   display: flex;
   line-height: 10px;
   padding-right: 5%;
 }

 nav a {
   text-decoration: none;
   font-family: "Caveat", cursive;
   font-size: 20px;
   letter-spacing: 3px;
   color: beige;
   padding: 1px 1px;
   margin: 0 0px;
 }

 nav a:hover {
   background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
   border-radius: 10px;
 }

 .menu {
   margin-top: 10%;
   
 }
 .menu a {
   text-decoration: none;
   font-family: "Caveat", cursive;
   font-size: 20px;
   letter-spacing: 4px;
   color: beige;
   padding: 15px 20px;
   background: #3a1c71;
 }

 .menu a:hover {
   background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
   border-radius: 20px;
 }

 .static-txt {
   color: #3a1c71;
   font-family: "Source Code Pro", monospace;
   font-size: 35px;
   background: orangered;
   margin-top: 80%;
   margin-right: 0%; /*Keeps words in a horizontal line*/
   padding: 14px;
 }


 .dynamic-txts {
   height: 90px;
   overflow: hidden;
   background: #3a1c71;
   margin-top: 10%;
   margin-left: 0%;
 }
 .dynamic-txts li {
   color: #fdbb2d;
   font-family: "Caveat", cursive;
   font-size: 70px;
   font-weight: 400;
   position: relative;
   top: 0;
   animation: slide 4s steps(4) infinite;
 }

 img {
   padding-left: 5%;
   transition: border-radius 500ms ease-in-out;
 }

 img:hover {
   border-radius: 0% 100% 0% 100% / 57% 52% 48% 43%;
 }

 .number {
   color: bisque;
   font-size: 20px;
   font-family: cursive;
   margin-bottom: 5%;
 }

}


/*================Small screens====================*/

@media screen and (max-width: 320px) {
 .grid {
   display: grid;
   grid-template-columns: 300px;
   background: orangered;
 }
 .grid h2 {
   background: olive;
   font-family: "Source Code Pro", monospace;
   font-size: 20px;
   padding: 3%;
 }

 .logo {
   display: flex;
   width: 20%;
   float: left;
   text-align: left;
   line-height: 20px; /*this helps position the hight of a line drop or pick up a line*/
 }
 .logo a {
   text-decoration: none;
   font-size: 20px;
   font-family: "Source Code Pro", monospace;
   color: beige;
   width: 80px;
 }

 nav {
   display: flex;
   line-height: 30px;
 }

 nav a {
   text-decoration: none;
   font-family: "Caveat", cursive;
   font-size: 20px;
   letter-spacing: 2px;
   color: beige;
   padding: 5px 5px;
   margin: 0 0px;
 }

 nav a:hover {
   background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
   border-radius: 10px;
 }

 .menu {
   margin-top: 15%;
 }
 .menu a {
   text-decoration: none;
   font-family: "Caveat", cursive;
   font-size: 20px;
   letter-spacing: 4px;
   color: beige;
   padding: 15px 10px;
   background: #3a1c71;
 }

 .menu a:hover {
   background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
   border-radius: 20px;
 }

 .static-txt {
   color: #3a1c71;
   font-family: "Source Code Pro", monospace;
   font-size: 30px;
   background: orangered;
   margin-top: 80%;
   margin-right: 0%;
 }

 .dynamic-txts {
   height: 90px;
   overflow: hidden;
   background: #3a1c71;
   margin-top: 10%;
   margin-left: 0%;
 }
 .dynamic-txts li {
   color: #fdbb2d;
   font-family: "Caveat", cursive;
   font-size: 70px;
   font-weight: 400;
   position: relative;
   top: 0;
   animation: slide 4s steps(4) infinite;
 }

 img {
   padding-left: 5%;
   transition: border-radius 500ms ease-in-out;
 }

 img:hover {
   border-radius: 0% 100% 0% 100% / 57% 52% 48% 43%;
 }

 .number {
   color: bisque;
   font-size: 20px;
   font-family: cursive;
   margin-bottom: 5%;
 }

}

