*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background: darkcyan;
  color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container h1 {
    font-size: 80px;
    font-weight: 600;
}