.container {
    display: flex;
    background: #005b44;
  }
  
  .header,
  .footer {
    display: block;
    padding: 15px;
    width: 20%;
  }
  
  header,
  footer {
    background-image: linear-gradient(#051937, #a8eb12);
    text-align: center;
    color: aliceblue;
    font-size: 20px;
  }
  
  .main {
    border: 6px;
    padding: 20px;
    flex: 2;
    width: 20%;
  }
  .Skills {
    padding: 25px;
    flex: 1;
    width: 20%;
  }
  
  h1 {
    color: #845ec2;
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-shadow: black 1px -3px 5px;
  }
  a {
    color: #a8eb12;
    text-decoration: none;
  }
  
  #Education,
  #Experience,
  #Skills {
    background-image: linear-gradient(120deg, #051937, #a8eb12);
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 40px;
    text-shadow: black 1px -3px 5px;
    text-align: center;
  }
  h3 {
    background: gray;
    border-radius: 60%;
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 5px;
  }
  
  fieldset {
    padding: 1px 4px;
    margin: 50px 20px;
    background-color: gray;
    font-size: 20px;
    color: #051937;
    border-radius: 20px;
  }
  form h1 {
    color: #051937;
    text-shadow: none;
    margin-bottom: 1px;
  }
  
  form input,
  form textarea,
  form select {
    border: 0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 40px;
  }
  
  form button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
    width: 100px;
    font-size: 15px;
    color: #ffff;
    background-color: #051937;
  }
  