*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;  
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: darkslategray;
}

.wrapper{
    display: inline-flex;
    }

.wrapper .static-txt{
    color: bisque;
    font-size: 60px;
    font-weight: 400;

}

.wrapper .dynamic-txts{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    color: palevioletred;
    list-style: none;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide {

    100%{
         top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

 /*starting animation here. this whole section going down isnt working*/ 
.dynamic-txts li span::after
{
     content: "";
     position: absolute;
     left: 0;
     height: 100%;
     width: 100%;
     background: darkslategray;
     border-left: 4px solid palevioletred;
     animation: typing 1.5s steps(12) infinite;
}
/*@keyframes typing {

    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
   
}
}*/